###########################################
# Ignore everything ignored by .gitignore #
###########################################
# Python
**/__pycache__
*.egg-info
.mypy_cache
.pytest_cache

# Rust
**/*.rs.bk
/target/
Cargo.lock

# Misc
.vscode
temp-plot.html

#######################################################
# And additionally everything not required by runtime #
#######################################################
.dockerignore
.git
.gitignore
Dockerfile
README.md
run
setup.cfg
tests
