# Ignore everything ignored by .gitignore.
**/__pycache__
*.egg-info
.mypy_cache
.pytest_cache
.vscode
temp-plot.html

# And additionally everything not required by runtime.
.dockerignore
.git
.gitignore
Dockerfile
README.md
setup.cfg
tests
